<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <h2 class="title">註冊會員</h2>
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field my-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field my-3">
        <%= f.label :nickname, class: 'form-label' %><br />
        <%= f.text_field :nickname, class: 'form-control' %>
      </div>
    
      <div class="field my-3">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <% if @minimum_password_length %>
          <span class="text-muted">
            (<%= @minimum_password_length %> characters minimum)
          </span>
        <% end %>
      </div>
    
      <div class="field my-3">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>
    
      <%= f.hidden_field :invite_token, value: @group.token.invite_token if @group %>

      <div class="actions my-3">
        <%= f.submit "註冊", class: 'btn btn-primary text-light' %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>

