<div class="card mb-3" data-display-target="mealCard">
  <div class="card-header d-flex">
    <div>
      <span class="fs-4">
        <%= store.name %>
      </span> 
      <span>的菜單</span>
    </div>
    <!-- <div class="ms-auto">
      <%= link_to "編輯" , edit_store_path(store), class: 'btn btn-primary text-light' %>
    </div> -->
  </div>
  <div class="card-body">
    <div class="px-4 py-2">
      <div class="row p-1 border-bottom border-2 border-primary">
        <div class="col-1">
          
        </div>
        <div class="col-4">
          餐點名稱
        </div>
        <div class="col-2">
          價格
        </div>
        <div class="col-5">
          描述
        </div>
      </div>
      <div class="sortable-items">
        <% store.meals.each do |meal| %>
          <div class="row py-2 border-bottom item" data-item="<%= dom_id(meal) %>">
            <div class="col-1">
              <i class="fa-solid fa-grip-vertical"></i>
            </div>
            <div class="col-4">
              <%= meal.name %>
            </div>
            <div class="col-2">
              <%= meal.price %>
            </div>
            <div class="col-5">
              <%= meal.description %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted fw-light">
    <span>小提示：可使用拖拉調整餐點順序</span>
  </div>
</div>

  