<div class="card mb-3" data-display-target="mealCard">
  <div class="card-header d-flex">
    <div>
      <span class="fs-4">
        <%= store.name %>
      </span> 
      <span>的菜單</span>
    </div>
    <div class="ms-auto">
      <%= link_to "編輯", '#' ,class: 'btn btn-primary text-light', data: {action: 'display#show_meal_edit'} %>
    </div>
  </div>
  <div class="card-body">
    <div class="px-4 py-2">
      <div class="row p-1 border-bottom border-2 border-primary">
        <!-- <div class="col-2">
          功能
        </div> -->
        <div class="col-4">
          餐點名稱
        </div>
        <div class="col-2">
          價格
        </div>
        <div class="col-6">
          描述
        </div>
      </div>
      <div>
        <% store.meals.each do |meal| %>
          <div class="row py-2 border-bottom">
            <!-- <div class="col-2">
              X
            </div> -->
            <div class="col-4">
              <%= meal.name %>
            </div>
            <div class="col-2">
              <%= meal.price %>
            </div>
            <div class="col-6">
              <%= meal.description %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  