<div class="card mb-3">
  <div class="card-header d-flex">
    <div class="">
      <span class="fs-4">
        餐點編輯
      </span> 
    </div>
    <div class="ms-auto">
      <%= link_to "編輯", edit_store_path ,class: 'btn btn-primary text-light' %>
    </div>
  </div>
  <div class="card-body">

    <!-- <div class="m-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>餐點名稱</th>
            <th>價格</th>
            <th>描述</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% store.meals.each do |meal| %>
              <th><%= meal.name %></th>
              <th><%= meal.price %></th>
              <th><%= meal.description %></th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div> -->
  
    <div class="px-4 py-2">
      <div class="row p-1 border-bottom border-2 border-primary">
        <div class="col-4">
          餐點名稱
        </div>
        <div class="col-2">
          價格
        </div>
        <div class="col-4">
          描述
        </div>
        <div class="col-2">
          功能
        </div>
      </div>
      <div>
        <% store.meals.each do |meal| %>
          <div class="row py-2 border-bottom">
            <div class="col-4">
              <%= meal.name %>
            </div>
            <div class="col-2">
              <%= meal.price %>
            </div>
            <div class="col-4">
              <%= meal.description %>
            </div>
            <div class="col-2">
              X
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  