<%= bootstrap_form_with model: store, data: "turbo: false" do |form| %>
  <div class="card">
    <div class="card-header d-flex">
      <div>
        <span class="fs-3">新增店家</span>
      </div>
    </div>
    <div class="row card-body">
      <div class="col-md-3 col-sm-6 mb-2">
        <%= form.text_field :name, class: 'form-control', label: '店名', required: true %>
      </div>
      <div class="col-md-3 col-sm-6 mb-2">
        <%= form.text_field :branch, class: 'form-control', label: '分店名稱' %>
      </div>
      <div class="col-md-6 col-sm-12 mb-2">
        <%= form.text_field :tel, class: 'form-control', label: '電話', required: true %>
      </div>
      <div class="city-selector col-md-6 col-sm-12 mb-2">
        <div class="blo me-2">
          <%= form.label :county, '縣市', class: 'form-label' %>
          <select class="county" data-value="<%= store.county %>" required="true"></select>
        </div>
        <div class="blo">
          <%= form.label :district, '鄉鎮市區', class: 'form-label' %>
          <select class="district" data-value="<%= store.district %>" required="true"></select>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mb-2">
        <%= form.text_field :street_address, class: 'form-control', label: '街道名稱' %>
      </div>
      <div class="col-12 mb-2">
        <%= form.text_area :note, class: 'form-control', rows: 3, label: '備註' %>
      </div>
      <div class="col-md-3 col-sm-12">
        <%= form.check_box :online, class: 'form-check-input', label: '營業中' %>
        <!-- <%= form.label :online, '營業中', class: 'form-check-label' %> -->
      </div>
      <!-- <div>
        <%= form.label :opening, '營業時間', class: 'form-label' %>
      </div>
      <div class="col-4 input-group">
        <%= form.text_field :opening, class: 'form-control' %>
        <span class="input-group-text">-</span>
        <%= form.text_field :opening, class: 'form-control' %>
      </div> -->
    </div>
  </div>
    
  <div class="mt-2">
    <%= form.submit class: 'btn btn-primary text-light' %>
  </div>
<% end %>

