<%= form_with model: store, data: "turbo: false" do |form| %>
  <div class="card d-none" data-display-target="storeEdit">
    <div class="card-header d-flex">
      <div>
        <span class="fs-3">編輯店家</span>
      </div>
      <div class="ms-auto">
        <%= link_to "取消編輯", '#', class: 'btn btn-primary text-light', data: {action: 'display#show_store_card'} %>
      </div>
    </div>
    <div class="row card-body">
      <div class="col-3 my-3">
        <%= form.label :name, '店名', class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="col-3 my-3">
        <%= form.label :branch, '分店名稱', class: 'form-label' %>
        <%= form.text_field :branch, class: 'form-control' %>
      </div>
      <div class="col-6 my-3">
        <%= form.label :tel, '電話', class: 'form-label' %>
        <%= form.text_field :tel, class: 'form-control' %>
      </div>
      <div class="col-3 my-3">
        <%= form.label :city, '縣市', class: 'form-label' %>
        <%= form.text_field :city, class: 'form-control' %>
      </div>
      <div class="col-3 my-3">
        <%= form.label :district, '鄉鎮市區', class: 'form-label' %>
        <%= form.text_field :district, class: 'form-control' %>
      </div>
      <div class="col-6 my-3">
        <%= form.label :street_address, '街道名稱', class: 'form-label' %>
        <%= form.text_field :street_address, class: 'form-control' %>
      </div>
      <div class="col-12 my-3">
        <%= form.label :note, '備註', class: 'form-label' %>
        <%= form.text_area :note, class: 'form-control', rows: 3 %>
      </div>
      <div class="col-12 my-3">
        <%= form.check_box :online, class: 'form-check-input' %>
        <%= form.label :online, '營業中', class: 'form-check-label' %>
      </div>
      <!-- <div>
        <%= form.label :opening, '營業時間', class: 'form-label' %>
      </div>
      <div class="col-4 input-group">
        <%= form.text_field :opening, class: 'form-control' %>
        <span class="input-group-text">-</span>
        <%= form.text_field :opening, class: 'form-control' %>
      </div> -->
    </div>
  </div>
  
  <div class="card mt-4 d-none" data-display-target="mealEdit">
    <div class="card-header d-flex">
      <div>
        <span class="fs-3">編輯餐點</span>
      </div>
      <div class="ms-auto">
        <%= link_to "取消編輯", '#', class: 'btn btn-primary text-light', data: {action: 'display#show_meal_card'} %>
      </div>
    </div>
    <div class="card-body" data-controller="meal-fields">

      <template data-meal-fields-target="template">
        <%= form.fields_for :meals, Meal.new, child_index: 'NEW_RECORD' do |meal| %>
          <%= render 'meal_fields', form: meal %>
        <% end %>
      </template>

      <%= form.fields_for :meals do |meal_form| %>
        <%= render 'meal_fields', form: meal_form %>
      <% end %>
      <div data-meal-fields-target="addBtn">
        <%= link_to "新增餐點", '#', class: 'btn btn-success', data: {action: 'meal-fields#add_meal'} %>
      </div>
    </div>
  </div>
    
    
  <div class="my-3 d-none" data-display-target="submit">
    <%= form.submit "更新", class: 'btn btn-primary text-light' %>
  </div>
<% end %>

