<div class="card mb-3">
  <div class="card-header d-flex">
    <div class="">
      <span class="fs-4">
        <%= store.name %>
      </span> 
      <span class="fs-6">
        <%= store.branch %>
        <% if store.branch? %>
          分店
        <% end %>
      </span> 
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      地址：<%= store.county + store.district + store.street_address %>
    </p>
    <p>
      電話：<%= store.tel %>
    </p>
    <p>
      備註：<%= store.note %>
    </p>
  </div>
</div>
