<div class="card mb-3" data-display-target="storeCard">
  <div class="card-header d-flex">
    <div class="">
      <span class="fs-4">
        <%= store.name %>
      </span> 
      <span class="fs-6">
        <%= store.branch %>
        <% if store.branch? %>
          分店
        <% end %>
      </span> 
    </div>
    <div class="ms-auto">
      <%= link_to "編輯", '#' ,class: 'btn btn-primary text-light', data: {action: 'display#show_store_edit'} %>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      地址：<%= store.city + store.district + store.street_address %>
    </p>
    <p>
      電話：<%= store.tel %>
    </p>
    <p>
      備註：<%= store.note %>
    </p>
  </div>
</div>
