<%= bootstrap_form_with model: store, data: "turbo: false" do |form| %>
  <div class="card">
    <div class="card-header d-flex">
      <div id="">
        <span class="fs-3">編輯店家</span>
      </div>
    </div>
    <div class="row card-body">
      <div class="col-md-3 col-sm-6 mb-2">
        <%= form.text_field :name, class: 'form-control', label: '店名' %>
      </div>
      <div class="col-md-3 col-sm-6 mb-2">
        <%= form.text_field :branch, class: 'form-control', label: '分店名稱' %>
      </div>
      <div class="col-md-6 col-sm-12 mb-2">
        <%= form.text_field :tel, class: 'form-control', label: '電話' %>
      </div>
      <div class="city-selector col-md-6 col-sm-12 mb-2">
        <div class="blo me-2">
          <%= form.label :county, '縣市', class: 'form-label' %>
          <select class="county" data-value="<%= store.county %>"></select>
        </div>
        <div class="blo">
          <%= form.label :district, '鄉鎮市區', class: 'form-label' %>
          <select class="district" data-value="<%= store.district %>"></select>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mb-2">
        <%= form.text_field :street_address, class: 'form-control', label: '街道名稱' %>
      </div>
      <div class="col-12 mb-2">
        <%= form.text_area :note, class: 'form-control', rows: 3, label: '備註' %>
      </div>
      <div class="col-md-3 col-sm-12 mb-2">
        <%= form.check_box :online, class: 'form-check-input' , label: '營業中' %>
      </div>
      <div class="col-12 mb-2">
        <%= form.file_field :menu, class: 'form-control', label: '上傳菜單' %>
      </div>
      
      <!-- <div>
        <%= form.label :opening, '營業時間', class: 'form-label' %>
      </div>
      <div class="col-4 input-group">
        <%= form.text_field :opening, class: 'form-control' %>
        <span class="input-group-text">-</span>
        <%= form.text_field :opening, class: 'form-control' %>
      </div> -->
    </div>
  </div>
  
  <div class="card mt-4">
    <div class="card-header d-flex">
      <div id="">
        <span class="fs-3">編輯餐點</span>
      </div>
    </div>
    <div class="card-body" data-controller="meal-fields">

      <template data-meal-fields-target="template">
        <%= form.fields_for :meals, Meal.new, child_index: 'NEW_RECORD' do |meal| %>
          <%= render 'meal_fields', form: meal %>
        <% end %>
      </template>

      <%= form.fields_for :meals do |meal_form| %>
        <%= render 'meal_fields', form: meal_form %>
      <% end %>
      <div data-meal-fields-target="addBtn">
        <%= link_to "新增餐點", '#', class: 'btn btn-success', data: {action: 'meal-fields#add_meal'} %>
      </div>
    </div>
  </div>
    
    
  <div class="my-2 d-flex justify-content-around">
    <%= form.submit "更新", class: 'btn btn-primary text-light' %>
    <%= link_to "取消編輯" , store_path(store), class: 'btn btn-primary text-light' %>
  </div>
<% end %>

