<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  <% @stores.each do |store| %>
    <div class="col">
      <div class="card my-2">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title mb-0">
              <%= store.name %>
              <span class="fs-6">
                <%= store.branch %>
              </span>
            </h5>
          </div>
          <div class="card-text mt-2">
            <div>
              電話：<%= store.tel %>
            </div>
            <div>
              地址：<%= store.city + store.district + store.street_address %>
            </div>
            <div>
              備註：<%= store.note %>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <% store.meals.each.with_index do |meal, index| %>
            <% if index < 3 %>
              <li class="list-group-item d-flex justify-content-between">
                <span><%= meal.name %></span>
                <span>$<%= meal.price %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="card-body d-flex">
          <%= link_to "查看與編輯", edit_store_path(store) %>
          <%= link_to "刪除", store_path(store), class: 'ms-auto text-danger', data: { turbo_method: :delete, turbo: true, turbo_confirm: '確認是否刪除？'} %>
        </div>
      </div>
    </div>
  <% end %>
</div>

