<%= form_with model: group  do |form| %>
  <div class="row card-body">
    <div class="col-12">
      <%= form.label :name, '團體名稱', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', autofocus: true  %>
      <!-- <%= err_field(:name, form, :group, autofocus: true ) %> -->
      <!-- <%= err_message(:name, form, :group) %> -->
    </div>
    <div class="col-12 mt-3">
      <%= form.label :description, '描述', class: 'form-label' %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>
    <div class="my-3 d-flex justify-content-between">
      <%= form.submit class: 'btn btn-primary text-light' %>
      <%= link_to "移交管理權", manager_group_path(group), class: 'btn btn-outline-secondary' unless @group.new_record? %>
    </div>
  </div>
<% end %>

<!-- html: { class: 'needs-validation', novalidate: true } -->
<!-- required: true -->