<div class="card" data-controller="admin">
  <div class="card-header d-flex">
    <div>
      <span class="fs-3">
        <%= group.name %>
        轉移管理權
      </span>
    </div>
  </div>
  <%= form_with model: group, data: "turbo: false" do |form| %>
    <div class="row card-body">
      <div class="col-12">
        <%= form.label :user_id, '會員email', class: 'form-label' %>
        <!-- <input class="form-control" type="text" data-admin-target="userEmailInput"> -->
        <!-- <input class="form-control" type="text" data-admin-target="userIdInput"> -->
        <%= form.text_field :user_id, class: 'form-control' %>
        <!-- <%= form.select :user_id, group.members.map{ |user| [ user.email , user.id] }, {}, class: 'form-control group-user_id' , style: "width: 100%" %> -->
      </div>
      <!-- <div class="col-12 mt-3">
      </div> -->
      <div class="my-3 d-flex justify-content-between">
        <!-- <%= form.submit '轉移管理權', class: 'btn btn-primary text-light' %> -->
        <%= link_to "轉移管理權" , transfer_group_path(group), class: 'btn btn-sm btn-primary text-light mb-2' , data: { turbo_method: :post, turbo: true, turbo_confirm: '確定要移轉管理權？' } %>
        <!-- <%= link_to "轉移管理權", '#', class: 'btn btn-primary text-light', data: {action: 'admin#transfer_manager' } %> -->
      </div>
    </div>
  <% end %>
</div>