<!DOCTYPE html>
<html>
  <head>
    <title>EatSomething</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta name="turbo-visit-control" content="reload"> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>
  
  <body>
    <%= render 'shared/navbar' %>
    <div class="container-lg py-3">
      <!-- <%= render 'shared/flash' %> -->
      <%= render 'shared/flash' if notice %>
      <%= render 'shared/flash' if alert %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
